#admin-page .header {
  height: var(--tam-header);
  background: var(--bg-pri);
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 20;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
}
#admin-page .header .mini-foto-perfil{

}
/* #admin-header {
  height: var(--tam-header);
  background: var(--bg-pri);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: relative;
  z-index: 10;
} */

#admin-header .left {
  display: flex;
  align-items: center;
  gap: 15px;
}

#admin-header .menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  padding: 6px;
}

#admin-header .menu-btn svg {
  width: 28px;
  height: 28px;
}

#admin-header .user-icon svg {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  #admin-header .menu-btn {
    display: block;
  }

  #admin-header .titulo {
    font-size: 1rem;
  }
}
