#content .page-header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}
#content .page-header h1{
    color: var(--fonte-sec);
    font-size: 2.5rem;
    font-weight: 600;
}
#content .page-header .page-header-container{
    display: flex;
}
#content .page-header .page-header-container h3{
    color: var(--fonte-pri);
    font-size: 1.5rem;
    margin-right: auto;
}