@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}
:root{
  font-size: 62.5%; /* 1rem = 10px */
  --fonte-pri: #736C6C;
  --fonte-sec: #433A3A;
  --fonte-destaque: #8FD2EF;
  
  --bg-pri: #fff;
  --bg-sec: #D6F0FB;
  --bg-terc: #D9D9D9;

}
body{
  min-height: 100vh;
}



/*
#page-admin{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

#page-admin .header{
  display: flex;
  align-items: center;
  padding: .5rem;
  box-shadow: 0 4px 4px 0 #00000040;
  max-height: 6rem;
  background-color: var(--bg-primary);
  z-index: 100;
}

#page-admin .icone{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .2rem;
  height: 100%;
  aspect-ratio: 1 / 1;
}
#page-admin .icone img, #page-admin .icone svg{
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  width: 100%;
}

#page-admin .icone-menu-nav svg{
  fill: var(--primary);
}

#page-admin main.main{
  flex-grow: 1;
}
#page-admin .sidebar{
  height: 100%;
  max-width: 300px;
  width: fit-content;
  padding: 1rem;
  background-color: var(--secondary);
  box-shadow: 0 4px 4px 0 #00000040;
}
#page-admin .sidebar nav{
  margin-top: 3rem;
}
#page-admin .sidebar .menu-nav-item{
  padding: .3rem 1rem .3rem .5rem;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: .5rem;
}
#page-admin .sidebar .menu-nav-item img{
  width: 25px;
  height: 25px;
}
*/