spring:
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:mysql://localhost:3307/lab_multiuso?sessionVariables=cte_max_recursion_depth=5000
    username: root
    password: 3307