#content .table {
  width: 100%;
  background-color: var(--bg-pri);
  border-radius: 16px;
  /* padding: 1.5rem; */
}

#content .table .table-titulo {
  color: #111827;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 0 20px 0;
  padding: 2rem;
  /* border-bottom: 2px solid var(--border); */
}

#content .table .table-wrapper {
  overflow-x: auto;
  border-radius: 8px;
  /* border: 1px solid #e5e7eb; */
  margin: 1rem;
}

#content .table table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

#content .table thead {
  /* background-color: #f9fafb; */
  border-bottom: 2px solid var(--border);
}

#content .table th {
  padding: 1.4rem 2rem;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  color: var(--fonte-sec);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-right: 1px solid #e5e7eb;
}

#content .table th:last-child {
  border-right: none;
}

#content .table thead tr{
    background-color: var(--bg-disable) !important;
}

#content .table tr{
  border-bottom: 1px solid var(--border);
  transition: background-color 0.2s ease;
  
}

#content .table tr:last-child {
  border-bottom: none;
}

#content .table td {
  padding: 18px 20px;
  font-size: 15px;
  color: #111827;
  border-right: 1px solid #e5e7eb;
}

#content .table td:last-child {
  border-right: none;
}

/* Responsividade */
@media (max-width: 768px) {
  .table {
    padding: 16px;
  }
  
  .table thead {
    font-size: 20px;
    margin-bottom: 16px;
  }
  
  .table th,
  .table td {
    padding: 14px 16px;
    font-size: 14px;
  }
}

/* Para telas muito pequenas */
@media (max-width: 480px) {
  .table-titulo {
    font-size: 18px;
  }
  
  .table th,
  .table td {
    padding: 12px;
    font-size: 13px;
  }
}